# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
'atom-workspace atom-text-editor:not([mini])':
  'shift-enter': 'editor:move-to-end-of-line'
  'ctrl-shift-K': 'core:select-up'
  'cmd-y': 'editor:delete-line'
  'cmd-k ctrl-shift-J': 'editor:add-selection-below'
  'cmd-k ctrl-shift-K': 'editor:add-selection-above'

'atom-workspace atom-text-editor:not(.mini)':
    'ctrl-e': 'ctrl-dir-scroll:scroll-down'
    'ctrl-y': 'ctrl-dir-scroll:scroll-up'


'atom-text-editor':
    # 'ctrl-e': 'core:page-down'
    'ctrl-k': 'core:move-up'
    'ctrl-i': 'editor:cut-to-end-of-line'
    'ctrl-w': 'editor:move-to-next-subword-boundary'
    'ctrl-shift-enter': 'editor:select-to-end-of-line'
    'ctrl-shift-X': 'editor:delete-to-beginning-of-line'
    'ctrl-b': 'editor:move-to-beginning-of-word'
    'ctrl-shift-B': 'editor:select-to-beginning-of-word'
    'alt-shift-F': 'editor:select-word'
    'ctrl-shift-W': 'editor:select-to-end-of-word'
    'alt-h': 'window:focus-pane-on-left'
    'ctrl-a h': 'window:focus-pane-on-left'


#These are my vim navigation keys
'body':
    'ctrl-j': 'core:move-down'
    'ctrl-l': 'core:move-right'
    'ctrl-k': 'core:move-up'
    'ctrl-h': 'core:move-left'
    'ctrl-x': 'core:backspace'
    'ctrl-shift-J': 'core:select-down'
    'ctrl-shift-H': 'core:select-left'
    # 'cmd-k ctrl-l': 'window:focus-pane-on-right'
    # 'cmd-k ctrl-h': 'window:focus-pane-on-left' #<- Located in atom-text-editor now
    # 'cmd-k ctrl-k': 'window:focus-pane-above'
    # 'cmd-k ctrl-j': 'window:focus-pane-below'
    'ctrl-a k': 'window:focus-pane-above'
    'ctrl-a j': 'window:focus-pane-below'
    'ctrl-a l': 'window:focus-pane-on-right'
    'ctrl-a h': 'window:focus-pane-on-right'
    'ctrl-shift-N': 'editor:select-line'
    # 'cmd-k ctrl-shift-L': 'pane:split-right-and-copy-active-item'
    # 'cmd-k ctrl-shift-H': 'pane:split-left-and-copy-active-item'
    #Will make these keybindings for multiple selections
    # 'cmd-k ctrl-shift-J': 'pane:split-down-and-copy-active-item'
    # 'cmd-k ctrl-shift-K': 'pane:split-up-and-copy-active-item'
    #Smiplified keybindings of the four above
    'cmd-k h': 'pane:split-left-and-copy-active-item'
    'cmd-k j': 'pane:split-down-and-copy-active-item'
    'cmd-k k': 'pane:split-up-and-copy-active-item'
    'cmd-k l': 'pane:split-right-and-copy-active-item'
    'ctrl-s': 'pane:show-next-recently-used-item'
    'cmd-shift-Y': 'core:move-to-bottom'



'.platform-darwin atom-workspace':
  'cmd-`': 'terminal-plus:toggle'

'.platform-darwin atom-text-editor':
  'ctrl-shift-F': 'grammar-selector:show'
  'ctrl-shift-L': 'core:select-right'
  'ctrl-w': 'editor:move-to-next-subword-boundary'
  'ctrl-r': 'symbols-view:toggle-project-symbols'

'atom-text-editor[data-grammar~=html]':
  'ctrl-shift-I': 'atom-html-preview:toggle'
  'ctrl-shift-H': 'core:select-left'

'atom-text-editor.autocomplete-active':
  'ctrl-shift-C': 'autocomplete-plus:cancel'

'.tree-view':
  'x': 'tree-view:remove'

'.platform-darwin':
  'cmd-b': 'tree-view:toggle'
